@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4 class="manageHeader">@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="manageHeader">
    <div>
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div>
                <label class="labelUp" asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" class="inputForEmail" />
                <br>
                <span asp-validation-for="Input.OldPassword" class="text-danger manageHeader"></span>
            </div>
            <div>
                <label class="labelUp" asp-for="Input.NewPassword">New Password</label>
                <input asp-for="Input.NewPassword" class="inputForEmail" />
                <br>
                <span asp-validation-for="Input.NewPassword" class="text-danger manageHeader"></span>
            </div>
            <div>
                <label class="labelUp" asp-for="Input.ConfirmPassword">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" class="inputForEmail" />
                <br>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger manageHeader"></span>
            </div>
            <button type="submit" class="btn dark-blue rounded">Update password</button>
        </form>
    </div>
</div>
@section ManageCss{
    <link rel="stylesheet" href="/css/IdentityManage/passwordChange.css">
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}