@model CyberWars.Web.ViewModels.HomeViews.PlayerDataView


@foreach (var food in Model.PlayerFoods)
{
    @for (int i = 0; i < food.Quantity; i++)
    {
        <form method="post" class="foodForm">
            <div class="food tooltipPetCard">
                <ul>
                    <span class="tooltiptextPetCard">+ @food.Food.FoodGainHealth Health</span>
                    <li> <img class="foodImg" src="/images/Market/Food/@(food.Food.FoodImageName + ".png")" alt=""></li>
                    <label for="foodId"></label>
                    <button class="btn-pet yellow rounded" name="foodId" value="@food.FoodId">Feed</button>
                </ul>
            </div>
        </form>
    }
}
@section CssFile{
    <link rel="stylesheet" href="/css/Home/petCard.css">
}
