<div class="blog-card">
    <img src="/images/Web/attackIcon.png" alt="">
    <div class="description">
        <h1 class="ResultcompetitveHeader">Find and Hack a Programmer</h1>
        <h2 class="ResultCompetitiveSecondHeader">Here you can find and hack or destroy network and get file and sell it from a programmer.Let's go hack </h2>
        <div class="attackChoise">
            <input type="radio" name="choise" value="Enemy">
            <label for="findEnemy">Find Enemy</label>
        </div>
        <div class="attackChoise">
            <input type="radio" name="choise" value="Stronger">
            <label for="StrongerEnemy">Find Stronger Enemy</label>
        </div>
        <div class="attackChoise">
            <input type="radio" name="choise" value="ByName">
            <label for="ByName">Find by name</label>
            <input class="input" type="text" name="searchname" size="25" value="" maxlength="15">
        </div>
        <div class="read-more">
            <a class="btn yellow rounded" type="submit" href="/DarkWeb/Search">Search ( 3 <img class="competitiveEnergy" src="/images/Web/CompetitiveLightIcon.png" alt=""> )</a>
        </div>
    </div>
</div>
@section CssFile {
    <link rel="stylesheet" href="/css/Web/attack.css">
}

@section PageHeader{
    Attack
}
