<div class="blog-card">
         <img src="/images/Web/Result Attack.jpg" alt="">
         <div class="description">
           <h4 class= "ResultcompetitveHeader">PlayerName VS  DefencePlayer (14.05.2020 14:52)</h4>
           <h2 class="ResultCompetitiveSecondHeader">The battle of the year</h2>
           <p class="earn"> Reward  </p>

            <p>PlayerName earn 50 money and 4 experience.</p>
           <div class="read-more">
             <a class="btn yellow rounded" href="/DarkWeb/Search">Again ( 4 <img class="competitiveEnergy" src="/images/Web/CompetitiveLightIcon.png" alt=""> )</a>
           </div>
         </div>
       </div> 
@section CssFile {
    <link rel="stylesheet" href="/css/Web/ResultCompetitveCoding.css">
}
@section PageHeader{
    Result
}
