@using CyberWars.Web.ViewModels.Market

@model IEnumerable<MarketFoodViewModel>

<div class="blog-card">
    <img src="/images/Market/PetFoodbackground.png" alt="">

</div>

@foreach (var food in Model)
{
    <form method="post" class="foodForm">
        <div class="petTable">
            <h3 class="frellancingHeader">@food.Name</h3>
            <img src="/images/Market/Food/@(food.ImageName + ".png")" alt="petImg">
            <ul>
                <li>Health: @(food.GainHealth + "%")</li>
                <li>Price : @food.Price <img class="moneyImg" src="/images/MoneyIcon.png" alt=""></li>
                <label for="foodId"></label>
                <button class="btn yellow rounded" name="foodId" value="@food.Id">Buy</button>
            </ul>
        </div>
    </form>
}

@section CssFile {
    <link rel="stylesheet" href="/css/Market/marketFood.css">
}

@section PageHeader{
    Food
}
