@page
@{ 
    Layout = null;
}
@model CyberWars.Web.Areas.Identity.Pages.Account.FirstPageModel
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/css/Base/Home.css" />
        <title>Home</title>
    </head>
    <body>
        <div class="container">
            <a class="btn color rounded" href="/Identity/Account/Login">Login</a>
            <a class="btn color rounded" href="/Identity/Account/RegisterChoose">Register</a>
        </div>
        <div class="background"></div>
    </body>
</html>
