<div class="containerFlex">
    <div class="containerBox">
        <h2>Hunt Programmer</h2>
        <p class="descriptionWeb">The dark Web is a place where you can attack or expose other player For now :3 </p>
        <div class="containerButton">
            <img src="/images/Web/darkwebIcon.png" alt="">
            <a asp-controller="DarkWeb" asp-action="Attack" class="btn yellow rounded">Dark Web</a>
            <img src="/images/Web/darkwebIcon2.png" alt="">
        </div>
    </div>

    <div class="containerBox2">
        <h2>Freelancing</h2>
        <p class="descriptionWeb">Freelance job is where person works for themself rather than for a company</p>
        <div class="containerButton">
            <img class="frellancImg" src="/images/Web/jobIcon.png" alt="">
            <a asp-controller="Web" asp-action="Job" class="btn yellow rounded">Frellancing</a>
            <img class="frellancImg" src="/images/Web/jobIcon2.png" alt="">
            <img src="/images/Web/freelancingLogo.png" alt="">
        </div>
    </div>

    <div class="containerBox3">
        <h2>Competitive Coding</h2>
        <p class="descriptionWeb">You can use C,C++,Java, C# every programming language and join in the contest.</p>
        <div class="containerButton">
            <a class="btn yellow rounded" asp-controller="CompetitiveCoding" asp-action="Index">Join Coding</a>
        </div>
    </div>
</div>

@section CssFile {
    <link rel="stylesheet" href="/css/Web/web.css">
}

@section PageHeader{
    Web
}
