@using CyberWars.Web.ViewModels.Team
@model IEnumerable<TeamViewModel>

@{
    var counter = 1;
}
<div class="blog-card">
    <img src="/images/Team/TeamBacground2.png" alt="">
    <div class="teamHeader">
        <h1>
            Make you own group,gank or company of programmer and hackers.
        </h1>
        <h2> Dont't be ONE MAN ARMY!</h2>
    </div>
    <div class="teamButtons">
        <a class="btn yellow rounded " href="/Team/Ranking">Groups-Ranking</a>
        <a class="btn yellow rounded " href="/Team/Register">Create your own Group</a>
    </div>
    <h1 class="teamHeaderBottom">Top 10 Group</h1>

    <table class="teamTable">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Group</th>
                <th scope="col">Motivation Motto</th>
                <th scope="col">Join </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in Model)
            {
                <tr>
                    <th class="circleNumber">@(counter++)</th>
                    <td><a href="/Team/TeamPage?teamName=@team.Name">@team.Name</a></td>
                    <td>@team.MotivationalMotto</td>
                    <td>
                        <form method="post" asp-controller="Team" asp-action="ApplyToTeam">
                            <button type="submit" class="btn yellow rounded" name="teamId" value="@team.Id">Apply</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section CssFile {
    <link rel="stylesheet" href="/css/Team/team.css">
}
@section PageHeader{
    Team
}

