<form class="example" >
          <input type="text" placeholder="Search.." name="search">
          <a class="btn yellow rounded" href="#">Search </a>
        </form>

        <table class="teamRankingTable">
          <thead>
            <tr>
                <th scope="col">Number</th>
              <th scope="col">Group-Name</th>
              <th scope="col">Motto</th>
              <th scope="col">Rank</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="circleNumber">1</th>
              <td>Bithes</td>
              <td>Join Us .The Perfect group .Come here</td>
              <td class="rank">999.99</td>
            </tr>
            <tr>
              <th  class="circleNumber">2</th>
              <td>The Quiters</td>
              <td>Come and we will quit together </td>
              <td class="rank">129.7</td>
            </tr>
            <tr>
              <th  class="circleNumber">3</th>
              <td>The Quiters</td>
              <td>Come and we will quit together </td>
              <td class="rank">129.7</td>
            </tr>
          </tbody>
        </table> 

@section CssFile {
    <link rel="stylesheet" href="/css/Team/teamRanking.css">
}
@section PageHeader{
    Top 100
}
