<div class="blog-card">
    <img src="/images/Team/TeamRegister.png" alt="">
    <div class="teamHeader">
        <h1">
            Make you own group,gank or company of programmer and hackers.</h1>
            <h2> Dont't be ONE MAN ARMY!</h2>
    </div>

    <div class="page-wrapper bg-yellow p-t-45 p-b-20">
        <div class="wrapper wrapper--w780">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title">Register a Group</h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="form-row">
                            <div class="name">Group name</div>
                            <div class="value">
                                <input class="input--style-6" type="text" name="groupName">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Motivational Motto</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-6" type="motto" name="motto">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Description</div>
                            <div class="value">
                                <div class="input-group">
                                    <textarea class="textarea--style-6" name="description"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <a class="btn yellow rounded" href="#">Apply - 9999 <img class="moneyImg" src="/images/MoneyIcon.png" alt=""></a>

                </div>

            </div>
        </div>
    </div>
</div>
@section CssFile {
    <link rel="stylesheet" href="/css/Team/teamRegister.css">
}
@section PageHeader{
    Register Team
}
