@using CyberWars.Web.ViewModels.Team;
@using CyberWars.Data.Common.Repositories;
@using CyberWars.Data.Models.Team;
@using System.Security.Claims;
@using CyberWars.Data.Models.Player;
@using Microsoft.EntityFrameworkCore;


@model RegisterTeamInputModel;

@inject IDeletableEntityRepository<TeamPlayer> teamPlayerRepository;
@inject IDeletableEntityRepository<Team> teamRepository;
@inject IDeletableEntityRepository<Player> playerRepository;

@{
    var userId = this.User.FindFirstValue(ClaimTypes.NameIdentifier);

    var player = await this.playerRepository.All().FirstOrDefaultAsync(x => x.UserId == userId);

    var teamPlayer = await this.teamPlayerRepository.All().FirstOrDefaultAsync(x => x.PlayerId == player.Id);

    var team = await this.teamRepository.All().FirstOrDefaultAsync(x => x.UserId == userId);
}
<div class="blog-card">
    <img src="/images/Team/TeamRegister.png" alt="">
    <div class="teamHeader">
        <h1>
            Make you own group,gank or company of programmer and hackers.
        </h1>
        <h2> Dont't be ONE MAN ARMY!</h2>
    </div>
    @if (team != null)
    {
        <h1>You already create a group</h1>
    }
    else if (teamPlayer != null)
    {
        <h1>You already apply to a group</h1>
    }
    else
    {
        <div class="page-wrapper bg-yellow p-t-45 p-b-20">
            <div class="wrapper wrapper--w780">
                <div class="card card-6">
                    <div class="card-heading">
                        <h2 class="title">Register a Group</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-controller="Team" asp-action="Register">
                            <div asp-validation-summary="All"></div>
                            <div class="form-row">
                                <div class="name">Group name</div>
                                <div class="value">
                                    <input class="input--style-6" type="text" name="name" asp-for="Name">
                                    <span asp-validation-for="Name" class=""></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Motivational Motto</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-6" type="text" name="motivationalMotto" asp-for="MotivationalMotto">
                                        <span asp-validation-for="MotivationalMotto" class=""></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Description</div>
                                <div class="value">
                                    <div class="input-group">
                                        <textarea class="textarea--style-6" name="description" asp-for="Description"></textarea>
                                        <span asp-validation-for="Description" class=""></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn yellow rounded" type="submit">Apply - 9999 <img class="moneyImg" src="/images/MoneyIcon.png" alt=""></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section CssFile {
    <link rel="stylesheet" href="/css/Team/teamRegister.css">
}
@section PageHeader{
    Register Team
}
