@using CyberWars.Web.ViewModels.HomeViews
@model IEnumerable<PlayerAbilitiesViewModel>

<div class="containerAbilities">
    <a class="btn yellow rounded" href="/Home/Abilities?type=Languages">Languages</a>
    <a class="btn yellow rounded" href="/Home/Abilities?type=Database">Database</a>
    <a class="btn yellow rounded" href="/Home/Abilities?type=Frameworks">Frameworks</a>
</div>
<table class="tableAbilities">

    <thead>
        <tr>
            <th scope="col">Language</th>
            <th scope="col">Points</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ability in Model)
        {

            <tr>
                <th scope="row">@ability.AbilityName</th>
                <td>@ability.Points</td>
                <td>@ability.AbilityDescription</td>
            </tr>
        }

    </tbody>
</table>

@section CssFile {
    <link rel="stylesheet" href="/css/Home/ability.css">
}

@section PageHeader{
    Abilities
}
