
<div class="containerAbilities">
    <a class="btn yellow rounded" href="#">Languages</a>
    <a class="btn yellow rounded" href="#">Database</a>
    <a class="btn yellow rounded" href="#">Frameworks</a>
</div>
<table class="tableAbilities">
    <thead>
        <tr>
            <th scope="col">Points</th>
            <th scope="col">Language</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">20</th>
            <td>C#</td>
            <td>oop</td>
        </tr>

    </tbody>
</table>

@section CssFile {
    <link rel="stylesheet" href="/css/Home/ability.css">
}

@section PageHeader{
   Abilities
}
