@using CyberWars.Web.ViewModels.HomeViews
@model BadgesViewModel

<div class="containerBadgeRequirements">
    <div class="cardBadge">
        <h2>Requirements for @Model.Name</h2>
        <table class="tableBadgeRequirements">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Points</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var badgeRequirement in Model.BadgeRequirements)
                {
                    <tr>
                        <th scope="row">@badgeRequirement.Requirement.Name</th>
                        <td>@badgeRequirement.Requirement.Points</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
@section CssFile {
    <link rel="stylesheet" href="/css/Home/badgeRequirements.css">
}

@section PageHeader{
    Requirements
}
