<div class="containerBadgeRequirements">
    <div class="cardBadge">
        <h2>Requirements for C# Junior Devoloper</h2>
        <table class="tableBadgeRequirements">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Points</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">C#</th>
                    <td>16</td>
                </tr>
                <tr>
                    <th scope="row">JS</th>
                    <td>2</td>
                </tr>
                <tr>
                    <th scope="row">HTML</th>
                    <td>54</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
@section CssFile {
    <link rel="stylesheet" href="/css/Home/badgeRequirements.css">
}

@section PageHeader{
    Requirements
}
