<div class="containerBadges">
    <a class="btn yellow rounded" href="#">C#</a>
    <a class="btn yellow rounded" href="#">JS</a>
    <a class="btn yellow rounded" href="#">Java</a>
    <a class="btn yellow rounded" href="#">Python</a>
    <a class="btn yellow rounded" href="#">Ruby</a>
    <a class="btn yellow rounded" href="#">C++</a>
</div>
<div class="badgeTable achieved">
    <span class="jobTittle">Badge</span>
    <h3 class="frellancingHeader">Student Badge</h3>
    <img src="/images/Player/Badges/01.Student_Developer.png" alt="petImg">
    <ul>
        <li>Description</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga, illum?</li>
        <li>
            <a class="btn yellow rounded btn-disable " href="/Home/BadgeRequirements">Requirements</a>
        </li>

    </ul>
</div>
<div class="badgeTable">
    <span class="jobTittle">Badge</span>
    <h3 class="frellancingHeader">Student Badge</h3>
    <img src="/images/Player/Badges/02.Junior_Developer.png" alt="petImg">
    <ul>
        <li>Description</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga, illum?</li>
        <li> <a class="btn yellow rounded " href="/Home/BadgeRequirements?id=1">Requirements</a></li>
    </ul>
</div>

@section CssFile {
    <link rel="stylesheet" href="/css/Home/badge.css">
}

@section PageHeader{
    Badges
}
