@using CyberWars.Web.ViewModels.HomeViews.Pet
@using System.Security.Claims;

@model PetViewModel

@{
    var maxHealth = Model.Health;
    var maxMood = Model.Mood;
}
<div class="petTable">
    <h3 class="petHeader">@Model.NameIt</h3>
    <img src="/images/Market/Pets/@(Model.PetImageName + ".png")" alt="">
    <ul>
        <li class="petList">
            Health @Model.Health / @maxHealth <img class="petBar" src="/images/GreenLine.png" alt="">
        </li>
        <li>Mood @Model.Mood / @maxMood <img class="petBar" src="/images/blueLine.png" alt=""></li>
    </ul>
    <div class="buttons">
        <a class="btn yellow rounded " href="">Change Name</a>
        <a class="btn yellow rounded " href="">Scratch Belly</a>
        <a class="btn yellow rounded " href="">Sell Pet</a>
    </div>
    <h2>Food</h2>
    @*Here need to make it with viewComponent and get ALL FOOD that player buy it *@
    <div class="petFoodTable">

        <vc:pet-card-food user-id="@(this.User.FindFirstValue(ClaimTypes.NameIdentifier))"></vc:pet-card-food>

    </div>
</div>
@section CssFile {
    <link rel="stylesheet" href="/css/Home/petCard.css">
}

@section PageHeader{
    Pet Name
}
