 <div class="petTable">
     <h3 class="petHeader">Pesho</h3>
     <img src="/images/Market/Pets/Fish_Dori.png" alt="">
     <ul>
       <li class="petList">Health 100/100 <img class="petBar" src="/images/GreenLine.png" alt="">
       </li>
       <li>Mood 100/100 <img class="petBar" src="/images/blueLine.png" alt=""></li>
     </ul>
     <div class="buttons">
       <a  class="btn yellow rounded " href="">Change Name</a>
       <a  class="btn yellow rounded " href="">Scratch Belly</a>
       <a  class="btn yellow rounded " href="">Sell Pet</a>
     </div>
     <h2>Food</h2>
     <div class="petFoodTable">

       <div class="food">
         <ul >
           <li > <img class="foodImg" src="/images/Market/Food/Food.png" alt=""></li>
           <li ><a class="btn-pet yellow rounded" href="">Feed</a></li>
         </ul>
       </div>
       <div class="food">
         <ul >
           <li > <img class="foodImg" src="/images/Market/Food/Food2.png" alt=""></li>
           <li ><a class="btn-pet yellow rounded" href="">Feed</a></li>
         </ul>
       </div>
           <div class="food">
         <ul >
           <li > <img class="foodImg" src="/images/Market/Food/milk.png" alt=""></li>
           <li ><a class="btn-pet yellow rounded" href="">Feed</a></li>
         </ul>
       </div>
       <div class="food">
         <ul >
           <li > <img class="foodImg" src="/images/Market/Food/Food.png" alt=""></li>
           <li ><a class="btn-pet yellow rounded" href="">Feed</a></li>
         </ul>
       </div>

     </div>

@section CssFile {
    <link rel="stylesheet" href="/css/Home/petCard.css">
}

@section PageHeader{
    Pet Name
}
