@using CyberWars.Web.ViewModels.HomeViews
@model IEnumerable<PlayerSkillViewModel>

<div class="description">
    <h3>
        Training is the most important thing . Thanks to training you can
        improve your performance.
    </h3>
</div>

@foreach (var skill in Model)
{
    <div class="container2">
        <div class="item4">
            <img class="healthIcon" src="/images/@(skill.SkillId).Skill.png" alt="" />
            <span class="name">@skill.SkillName</span>
            <div class="bar">@skill.SkillDescription</div>
            <span class="circle">@skill.Points</span>
            <form method="post" asp-controller="Home" asp-action="TrainSkill">
                <a class="button" href="/Home/TrainSkill?skillName=@skill.SkillName">Train -</a>
            </form>
            <span class="money">@skill.Money</span>
            <img class="MoneyIcon" src="/images/MoneyIcon.png" alt="" />
        </div>
    </div>

}

@section CssFile {
    <link rel="stylesheet" href="/css/Home/skills.css">
}

@section PageHeader{
    Skills
}
