#btn-disable {
  cursor: not-allowed;
  pointer-events: none;
  color: grey;
}
.btn {
  position: absolute;
  top: 350px;
  right: 1.9em;
  min-width: 150px;
  max-width: 130px;
  background: transparent;
  border: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.rewardHeading {
  margin: 0px;
  font-weight: 700;
}
.frellancingHeader {
    margin: 7px;
    font-weight: 700;
}
.rewardDiv {
  position: absolute;
  top: 17em;
  left: 1.6em;
}

.jobMoneyIcon {
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
}
.rounded {
  border-radius: 5px;
}
.full-rounded {
  border-radius: 20em;
}

.yellow {
  background: #fac75a;
  color: black;
  box-shadow: 0 3px 0 #f9b629;
}
.yellow:hover {
  background: #fce17a;
}
.yellow:active,
.yellow:focus {
  background: #fac24b;
}
.dark-blue {
  background: #34495e;
  color: #fff;
  box-shadow: 0 3px 0 #22303d;
}
.dark-blue:hover {
  background: #425c77;
}
.dark-blue:active,
.dark-blue:focus {
  background: #2f4154;
}
/* table styles */

.jobTittle {
  border-radius: 10px;
  border: 2px solid #dcb97b;
  padding: 5px 20px 5px 20px;
  /* position: relative;
  bottom: 24px; */
}

.frellacingTable {
  position: relative;
  margin: 40px;
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 20px;
  padding: 15px;
  overflow: hidden;
  min-width: 180px;
  max-width: 180px;
  min-height: 400px;
  max-height: 400px;
  display: inline-block;
  border: 2px solid #dcb97b;
  z-index: 1;
  background-color: #e4e6f2;
}

.frellacingTable {
  text-align: center;
}

blockquote {
  color: white;
  text-align: center;
}

.frellacingTable ul li {
  padding-bottom: 10px;
  text-align: center;
}
