#btn-disable {
  cursor: not-allowed;
  pointer-events: none;
  color: grey;
}
.btn {
  min-width: 150px;
  max-width: 130px;
  background: transparent;
  border: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  margin: 5px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.rounded {
  border-radius: 5px;
}
.full-rounded {
  border-radius: 20em;
}

.yellow {
  background: #fac75a;
  color: black;
  box-shadow: 0 3px 0 #f9b629;
}
.yellow:hover {
  background: #fce17a;
}
.yellow:active,
.yellow:focus {
  background: #fac24b;
}
.dark-blue {
  background: #34495e;
  color: #fff;
  box-shadow: 0 3px 0 #22303d;
}
.dark-blue:hover {
  background: #425c77;
}
.dark-blue:active,
.dark-blue:focus {
  background: #2f4154;
}
/*  */

.blog-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  line-height: 1.4;
  border-radius: 10px;
  margin: 20px;
  border: 4px solid #dcb97b;
  text-align: center;
}

.teamButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 10px;
}

.teamHeader {
  text-align: center;
  border-top: 3px solid #dcb97b;
  border-bottom: 3px solid #dcb97b;
  border-radius: 10px;
  padding: 10px;
  line-height: 1;
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: gray;
  margin-top: 5px;
}
.teamHeaderBottom {
  text-align: center;
  padding: 10px;
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
  font-weight: 300;
  text-transform: uppercase;
  color: gray;
  margin-top: 5px;
  border-top: 2px solid #dcb97b;
}

/* table  */
.teamTable {
  border-spacing: 1;
  /*TODO :my gray color */
  background: white;
  border-collapse: collapse;
  overflow: hidden;
  min-width: 700px;
  max-width: 900px;
  margin: 0;
  max-height: auto;
  position: relative;
  border-radius: 10px;
  border: 4px solid black;
}

.teamTable td {
  text-align: center;
}

.teamTable thead tr {
  height: 60px;
  background: #ffed86;
  font-size: 20px;
}

.teamTable tbody tr {
  align-items: center;

  height: 48px;
  border-bottom: 1px solid #e3f1d5;
}

blockquote {
  color: white;
  text-align: center;
}

.circleNumber {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #dcb97b;
  margin: auto;
  margin-top: 15px;
  line-height: 50px;
}
