<div class="coursesButtons">
    <a class="btn dark-blue rounded" href="/Academy/Lectures?courseName=Programming Basic">Programming Basic</a>

    <a class="btn dark-blue rounded" href="/Academy/Lectures?courseName=Fundamental">Fundamental</a>
</div>
@section CssFile {
    <link rel="stylesheet" href="/css/Academy/academy.css">
}
@section PageHeader{
    Academy
}
