
<div class="academyButtons">
    <a class="btn yellow rounded" href="/Academy/Basic">Basic</a>
    <a class="btn yellow rounded" href="/Academy/Languages">Languages</a>
</div>
<img class="academyIcons1" src="~/images/Academy/academy1.png" alt="">
<div class="academyDescription">
    Welcome.
    <br>This is the place where we acquire knowledge.
    <br>You need to start with Programming Basis and then with Fundamentals. To complete a lecture you need to have the necessary <strong>Expirience</strong>
</div>
<img class="academyIcons2" src="~/images/Academy/academy2.png" alt="">

@section CssFile {
    <link rel="stylesheet" href="/css/Academy/academyIndex.css">
}
@section PageHeader{
    Academy
}
