<div class="languageTable">
    <img class="courseImg" src="/images/Academy/IconC.png" alt="">
    <h3 class="languageHeader">C# Web Developer</h3>
    <ul class="profession-sub-model">
        <li class="sub-model">
            <a class="btn yellow rounded" href="/Academy/Lectures?courseName=C%23 Advanced">C#Advanced</a>
        </li>
        <li class="sub-model">

            <a class="btn yellow rounded" href="/Academy/Lectures?courseName=C%23 OOP">C# OOP</a>
        </li>
        <li class="sub-model">
            <a class="btn yellow rounded " href="/Academy/Lectures?courseName=MS SQL">SQL</a>
        </li>
        <li class="sub-model">
            <a class="btn yellow rounded " href="/Academy/Lectures?courseName=Entity FrameworkCore">Entity FrameworkCore</a>
        </li>
        <li class="sub-model">
            <a class="btn yellow rounded " href="/Academy/Lectures?courseName=C%23 Web Basics">C# Web Basics</a>
        </li>
        <li class="sub-model">
            <a class="btn yellow rounded " href="/Academy/Lectures?courseName=C%23 ASP.NET Core">Asp.Net.core</a>
        </li>
    </ul>
</div>
<div class="languageTable">
    <img class="courseImg" src="/images/Academy/JavaIcon.png" alt="">
    <h3 class="languageHeader">Java Web Developer</h3>
    <ul class="profession-sub-model">
        <li class="sub-model">
            <a class="btn yellow rounded" href="/Academy/Lectures?courseName=Java Advanced">Java Advanced</a>
        </li>
        <li class="sub-model">
            <a class="btn yellow rounded" href="/Academy/Lectures?courseName=Java OOP">Java OOP</a>
        </li>
        <li class="sub-model">
            <a class="btn yellow rounded " href="/Academy/Lectures?courseName=MY SQL">MY SQL</a>
        </li>
        <li class="sub-model">
            <a class="btn yellow rounded " href="/Academy/Lectures?courseName=Spring Data">Spring Data</a>
        </li>
        <li class="sub-model">
            <a class="btn yellow rounded " href="/Academy/Lectures?courseName=Spring Fundamentals">Spring Fundamentals</a>
        </li>
        <li class="sub-model">
            <a class="btn yellow rounded " href="/Academy/Lectures?courseName=Spring Advanced">Spring Advanced</a>
        </li>
    </ul>
</div>
<div class="languageTable">
    <img class="courseImg" src="/images/Academy/jsiCON.png" alt="">
    <h3 class="languageHeader">JS Web Developer</h3>
    <ul class="profession-sub-model">
        <li class="sub-model">
            <a class="btn yellow rounded" href="/Academy/Lectures?courseName=JS Advanced">JS Advanced</a>
        </li>
        <li class="sub-model">
            <a class="btn yellow rounded" href="/Academy/Lectures?courseName=JS Application">JS Application</a>
        </li>
        <li class="sub-model">
            <a class="btn yellow rounded " href="/Academy/Lectures?courseName=JS Back-End">JS Back-End</a>
        </li>
        <li class="sub-model">
            <a class="btn yellow rounded " href="/Academy/Lectures?courseName=React JS">React JS</a>
        </li>
        <li class="sub-model">
            <a class="btn yellow rounded " href="/Academy/Lectures?courseName=HTML %26 CSS">Html & Css</a>
        </li>
        <li class="sub-model">
            <a class="btn yellow rounded " href="/Academy/Lectures?courseName=Front-End Framework">Front-End Framework</a>
        </li>
    </ul>
</div>
<div class="languageTable">
    <img class="courseImg" src="/images/Academy/python.png" alt="">
    <h3 class="languageHeader">Python Web Developer</h3>
    <ul class="profession-sub-model">
        <li class="sub-model">
            <a class="btn yellow rounded" href="/Academy/Lectures?courseName=Python Advanced">Python Advanced</a>
        </li>
        <li class="sub-model">
            <a class="btn yellow rounded" href="/Academy/Lectures?courseName=Python OOP">Python OOP</a>
        </li>
        <li class="sub-model">
            <a class="btn yellow rounded " href="/Academy/Lectures?courseName=Python Web Basics">Python Web Basics</a>
        </li>
        <li class="sub-model">
            <a class="btn yellow rounded " href="/Academy/Lectures?courseName=Python Web Framework">Python Web Framework</a>
        </li>
    </ul>
</div>
@section CssFile {
    <link rel="stylesheet" href="/css/Academy/languages.css">
}
@section PageHeader{
    Languages
}
